// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}
.q-tab__label,
.text_label_btn {
  font-size: 18px;
  font-weight: 600;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-right: 28px;
  padding-left: 28px;
}

.card-oswald {
  font-family: Oswald, sans-serif;
}
.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
